table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-size: 40px;
    vertical-align: middle;
    horizontal-align: middle;
}

td, th {

    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #b6bdc6;
}
tr:nth-child(odd) {
    background-color: #b6bdc6;
}
