table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td, th {

    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #8a8b8c;
}
tr:nth-child(odd) {
    background-color: #606266;
}
